{block content}
<div class="application-form">
    <div class="container">
        {*
        <div class="progress-circles">
            <h4 class="c-active">1.</h4>
            <h4 class="c-inactive">2.</h4>
            <h4 class="c-inactive">3.</h4>
        </div>*}
        {the_content()}
        <rezervin-registration></rezervin-registration>
    </div>
</div>