{block content}
<div class="application-form">
    <div class="container">
        {the_content()}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <rezervin-profile-picture></rezervin-profile-picture>
            </div>
        </div>
    </div>
</div>