<div class="icon-container">
    <div class="icon" n:foreach="get_field('list') as $p">
        <a href="{$p['link']}" class="effect-under-right before red c-red">{$p['text']}</a>
        <i class="fas fa-long-arrow-alt-right"></i>
    </div>
</div>