<div id="cookies" n:if="empty($_COOKIE['cookiesAccepted'])">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 text"><p>Náš web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.</p></div>
            <div class="col-md-4 col-lg-3">
                <button type="button" class="button style-blue icon-after">Souhlasím</button>
            </div>        
        </div>
    </div>
</div>