<section class="hero pt-4">
    <div class="hero-image" style="background-image: url({get_the_post_thumbnail_url()});">
        <div class="hero-content container pt-5">
            <h1>Nadpis</h1>
            <p>text</p>
        </div>
    </div>
</section> 